{% extends './base.html' %}
{% load posts_extra %}
{% block main %}
{% autoescape off %}
<main class="flex flex-col items-center justify-center xl:flex-row w-full xl:items-start">
    <main class="max-w-5xl w-full">
        <article class="p-4 sm:p-6 mb-10 min-h-[76vh]">
            {{setting.about|markdown}}
            
          {% if links or request.user.is_superuser %}
            <div class="flex mt-2 sm:m-0 items-center justify-center text-4xl" id="links">
                {% for link in links %}
                <a
                    href="{{link.url}}"
                    target="_blank"
                    title="{{link.about}}"
                    rel="noopener noreferrer"
                    class="link transition-none px-1 hover:scale-110 focus-visible:scale-110 text-{{link.name|icon|last}}-500  dark:text-{{link.name|icon|first}}-500 "
                    >
                    <i class="bi bi-{{link.name|icon:'class'}}"></i>
                </a>
            {% endfor %}
                {% if request.user.is_superuser %}
                <a
                    href="/admin/posts/link/add/"
                    target="_blank"
                    title="افزودن لینک"
                    rel="noopener noreferrer"
                    class="transition-none link px-1 hover:scale-110  text-indigo-500 ">
                <i class="bi bi-plus-circle"></i>
                </a>
                {% endif %}
            </div>
          {% endif %}
            
        </article>
    </main>
    <aside class="xl:sticky xl:min-w-[30rem] xl:top-14 w-full xl:w-[unset] xl:px-3 xl:max-w-[28rem] sm:px-10 px-4 min-w-[25vw] ">
      {% include './hotlinks.html' %}
    </aside>
</main>

{% endautoescape %}
{% endblock main %}