{% extends './base_auth.html' %}
{% block form %}
    <form  method="POST" class=" flex flex-col items-center px-4 py-6 rounded-xl border-[1px] sm:border-2 my-6 dark:border-gray-900 dark:border-opacity-60">

        <h1 class="text-3xl dark:text-white">حذف حساب کاربری</h1>
        <p class="mt-2 text-gray-500">تمامی اطلاعات شما حذف خواهد شد.</p>

        {% include './input.html' with  name='password' autocomplete='current-password' type='password'  placeholder='گذرواژه' required='true' message=message %}

        {% csrf_token %}
        <button type="submit" class="bg-opacity-20 active:scale-[0.98] bg-red-900 px-8 py-3 rounded-full text-lg text-red-600 w-full mt-8 active:opacity-90">حذف</button>

    </form>
{% endblock form %}