<header id="header" class="h-14 xl:h-14 fixed top-0 flex flex-col items-center xl:flex-row justify-between py-2 px-3 w-full z-20 border-b-[1px] xl:border-b-[2px] border-slate-100 bg-[#ffffffcc] backdrop-blur overflow-hidden" >
    <h1 class="text-xl mt-2 xl:mt-0"><a href="/" class="block">{{title}}</a></h1>

    <ul id="items" class="w-full xl:w-min xl:relative flex flex-col items-center xl:flex-row text-xl overflow-hidden xl:overflow-visible h-40">
        <li><a class="py-3 px-4 block" href="/">خانه</a></li>
        <li><a class="py-3 px-4 block" href="/about">درباره</a></li>
        <li class="hidden xl:block"><a class="py-3 px-4 block" href="/search">جستجو</a></li>
        {% if request.user.is_authenticated %}
            <li class="flex w-full">
                <a href="/me" class="flex mr-4" title="نمایش پروفایل">
                <div class="h-14 xl:h-10 xl:w-10 overflow-hidden rounded-full w-14">
                    <img src="{{request.user.image.url}}" alt="عکس پروفایل من" class="h-full w-full">
                </div>
                <div class="flex flex-col mr-3 xl:hidden w-2/3">
                    <span class="truncate ">{{request.user.name}}</span>
                    <span class="text-slate-600 truncate pl-5">{{request.user.email}}</span>
                </div>
                </a>
            </li>
        {% else %}
            <li class="w-full overflow-visible flex justify-center"><a class="py-2 px-6 block bg-gray-900 rounded-full text-white w-11/12 xl:w-auto text-center overflow-visible" href="/login">ورود</a></li>
        {% endif %}
    </ul>
    
    <div class="absolute left-3 xl:hidden flex items-center">
        <button onclick="$('#tags').toggleClass('-bottom-full bottom-0');$('#tags #close').toggleClass('opacity-0 pointer-events-none');$('body').addClass('overflow-hidden')"><i class="bi bi-hash py-1 text-2xl block px-2 text-slate-700"></i></button>
        <a href="/search" ><i class="bi bi-search py-1 text-lg block pl-4 pr-2 text-slate-700" ></i></a>
        <button onclick="$('#more').toggleClass('active');$('#header').toggleClass('h-56');" id="more" class="w-6">
            <div class="h-[2px] w-full rounded-full bg-slate-700"></div>
            <div class="h-[2px] w-full rounded-full bg-slate-700 my-2"></div>
            <div class="h-[2px] w-full rounded-full bg-slate-700"></div>
        </button>
    </div>
</header>