{% load static %}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="{{description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{setting.favicon.url}}" type="image/x-icon">
    {% if title %}
        <title>{{setting.other_title|default:'عنوان'}} - {{ title|title }}</title>
    {% else %}
        <title>{{setting.title|default:'عنوان صفحه اصلی'}}</title>
    {% endif %}
    {# TODO: use cdn in production #}
    <script src="{% static 'CSS/tailwind' %}"></script>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'CSS/icons/font/bootstrap-icons.css' %}"/>
    <script src="{% static 'JS/jquery.min.js' %}"></script>
    <script>
        {% comment %} function light() {
            $(document.documentElement).removeClass('dark');
            window.localStorage.setItem('dark', 0);
            $('.mode').addClass('bi-sun').removeClass('bi-moon');
        }
        function dark() {
            $(document.documentElement).addClass('dark');
            window.localStorage.setItem('dark', 1);
            $('.mode').addClass('bi-moon').removeClass('bi-sun');
        }
        function toggleTheme(){
            if (window.localStorage.getItem('dark') == 0){
                dark()
            }else{
                light()
            }
        }
        function checkTheme() {            
            if (window.localStorage.getItem('dark') != 1){
                light()
            }
        } {% endcomment %}

    </script>
</head>