<div class="sm:w-[20rem] mt-4">
    <input dir="{{dir|default:'auto'}}" name="{{name|default:'name'}}" autocomplete="{{autocomplete|default:'none'}}" type="{{type|default:'text'}}" placeholder= "{{placeholder}}" required="{{required|default:'false'}}"  value="{{value}}" class="bg-gray-100 px-4 py-3 rounded-lg w-full dark:bg-gray-900 dark:text-gray-200  dark:bg-opacity-40 dark:focus:border-gray-800 dark:focus:border-opacity-60   border-[1px] sm:border-2 border-transparent  focus:border-gray-200">
    <span class="px-3 text-red-500 text-sm ">{{message}}</span>
</div>