<div class=" mx-4 sm:mx-6 p-6 flex flex-col sm:flex-row items-center justify-between my-6 rounded-2xl   border-[1px] sm:border-2 border-gray-200 dark:border-gray-900 dark:border-opacity-60 ">
    <div>
        <h1 class="text-3xl dark:text-gray-100">به ما بپیوندید</h1>
        <p class="mt-2 text-lg text-gray-700 dark:text-gray-300">برای اطلاع از آخرین پست های منتشر شده و دیگر امکانات سایت حساب کاربری خود را بسازید.</p>
    </div>
    <a href="/login" class="active:scale-[0.98] active:opacity-90 bg-opacity-20 block bg-indigo-900 px-8 py-3 rounded-full text-2xl text-indigo-700  mt-8 w-full sm:w-auto sm:m-0 text-center">ورود</a>
  </div>