{% extends './base_auth.html' %}
{% block form %}
    {% if created %}
        <div class=" flex flex-col items-center px-4 py-6 rounded-xl border-[1px] sm:border-2 my-6 dark:border-gray-900 dark:border-opacity-60">
            <h1 class="text-3xl dark:text-white">عضویت موفقیت آمیز !</h1>
            <p class="mt-2 text-gray-500">حساب کاربری شما ساخته شد.</p>
            <p class="mt-2 text-gray-500">برای فعال سازی حساب خود روی لینک ارسال شده در ایمیل کلید کنید.</p>

            <a href="/" class="text-center active:scale-[0.98] bg-indigo-700 px-8 py-3 rounded-full text-lg text-white w-full mt-8 active:opacity-90">صفحه اصلی</a>
        </div>
    {% else %}
        <form method="POST" class=" flex flex-col items-center px-4 py-6 rounded-xl border-[1px] sm:border-2 my-6 dark:border-gray-900 dark:text-gray-200 dark:border-opacity-60">
            <h1 class="text-3xl dark:text-white">ورود</h1>
            <p  class="mt-2 text-gray-500">وارد حساب کاربری خود در سیستم شوید</p>

            {% include './input.html' with  value=request.POST.email name='email' autocomplete='email' type='email' placeholder='نشانی ایمیل' required='true' message=form.errors.email %}
            {% include './input.html' with  name='password' autocomplete='current-password' type='password'  placeholder='گذرواژه' required='true' message=form.errors.password2|first %}
            {% csrf_token %}
            <button type="submit" class="bg-opacity-20 active:scale-[0.98] bg-indigo-900 px-8 py-3 rounded-full text-lg text-indigo-600 w-full mt-8 active:opacity-90">ورود</button>
            
            <div class="help mt-3 text-center">
                <p class="mb-1"><a href="/reset-password" class="text-indigo-500">بازیابی گذرواژه</a></p>
            </div>
        </form>
    {% endif %}
{% endblock form %}