{% load posts_extra %}
<div class="mt-5 paginator flex w-full text-gray-600 items-center justify-center">
    <a
    {% if page.has_previous %}
        href="?page={{page.previous_page_number}}"
        title="صفحه قبلی"
        name="صفحه قبلی"
        class="p-2 mx-1 hover:bg-gray-100 focus-visible:bg-gray-100 dark:focus-visible:bg-gray-900 dark:focus-visible:bg-opacity-40 dark:focus-visible:text-gray-200 dark:hover:bg-gray-900 dark:hover:bg-opacity-40 dark:hover:text-gray-200 rounded-md aspect-square w-max flex items-center justify-center px-4 max-h-10"
    {% else %}
        title="صفحه قبلی وجود ندارد"
        name="صفحه قبلی وجود ندارد"
        class="p-2 mx-1 focus-visible:bg-gray-100 rounded-md aspect-square w-max flex items-center justify-center px-4 max-h-10 opacity-50"
    {% endif %}
    ><i class="bi bi bi-chevron-right contents"></i
    ></a>


    {% for i,j in page.number|pg:'-' %}
        {% if i not in page.paginator.page_range and j in page.paginator.page_range %}

            <a
            href="?page={{j}}"
            title="صفحه {{j}}"
            name="صفحه {{j}}"
            class="p-2 mx-1 hover:bg-gray-100 focus-visible:bg-gray-100 dark:focus-visible:bg-gray-900 dark:focus-visible:bg-opacity-40 dark:focus-visible:text-gray-200 dark:hover:bg-gray-900 dark:hover:bg-opacity-40 dark:hover:text-gray-200 rounded-md aspect-square w-max flex items-center justify-center px-4 max-h-10"
            >{{j}}</a>

        {% endif %}
    {% endfor %}

    <a
        href="?page={{page.number}}"
        title="صفحه {{page.number}}"
        name="صفحه {{page.number}}"
        class="p-2 mx-1 bg-gray-100 dark:bg-gray-900 dark:bg-opacity-40  dark:text-gray-200 rounded-md aspect-square w-max flex items-center justify-center px-4 max-h-10"
    >{{page.number}}</a>

    {% for i in page.number|pg %}
        {% if i in page.paginator.page_range %}

            <a
                href="?page={{i}}"
                title="صفحه {{i}}"
                name="صفحه {{i}}"
                class="p-2 mx-1 hover:bg-gray-100 focus-visible:bg-gray-100 dark:focus-visible:bg-gray-900 dark:focus-visible:bg-opacity-40 dark:focus-visible:text-gray-200 dark:hover:bg-gray-900 dark:hover:bg-opacity-40 dark:hover:text-gray-200 rounded-md aspect-square w-max flex items-center justify-center px-4 max-h-10"
            >{{i}}</a>

        {% endif %}
    {% endfor %}

    <a
    {% if page.has_next %}
        href="?page={{page.next_page_number}}"
        title="صفحه بعدی"
        name="بعدی صفخه"
        class="p-2 mx-1 hover:bg-gray-100 focus-visible:bg-gray-100 dark:focus-visible:bg-gray-900 dark:focus-visible:bg-opacity-40 dark:focus-visible:text-gray-200 dark:hover:bg-gray-900 dark:hover:bg-opacity-40 dark:hover:text-gray-200 rounded-md aspect-square w-max flex items-center justify-center px-4 max-h-10"
    {% else %}
        title="صفحه بعدی وجود ندارد"
        name="صفحه بعدی وجود ندارد"
        class="p-2 mx-1 focus-visible:bg-gray-100 rounded-md aspect-square w-max flex items-center justify-center px-4 max-h-10 opacity-50"
    {% endif %}
    
    ><i class="bi bi bi-chevron-left contents"></i></a>

</div>
