{% extends './base_auth.html' %}
{% block form %}
    <form  method="POST" class=" flex flex-col items-center px-4 py-6 rounded-xl border-[1px] sm:border-2 my-6 dark:border-gray-900 dark:border-opacity-60">
        <input type="hidden" name="token" value="{{request.GET.token}}">
        <h1  class="text-3xl text-white">تعویض گذرواژه</h1>
        {% if can_reset %}
            <p class="mt-2 text-gray-500">تنظیم گذرواژه جدید</p>
        {% elif msg %}
            <p class="mt-2 text-red-500">{{ msg }}</p>
        {% else %}
            <p class="mt-2 text-gray-500">تعویض گذرواژه با گذرواژه فعلی</p>
        {% endif %}
        
        {% if request.user.is_authenticated or not msg and not request.user.is_authenticated %}
            {% if not can_reset %}
                {% include './input.html' with  name='old_password' autocomplete='current-password' type='password' placeholder='گذرواژه فعلی' required='true' message=form.errors.old_password|first %}
            {% endif %}

            {% include './input.html' with  name='new_password1' autocomplete='new-password' type='password' placeholder='گذرواژه جدید' required='true' message=form.errors.new_password1|first %}
            {% include './input.html' with  name='new_password2' autocomplete='new-password' type='password' placeholder='تایید گذرواژه' required='true' message=form.errors.new_password2|first %}
            {% csrf_token %}

            <button type="submit" class="bg-opacity-20 active:scale-[0.98] bg-indigo-900 px-8 py-3 rounded-full text-lg text-indigo-600 w-full mt-8 active:opacity-90">تعویض</button>


            {% if not can_reset %}
                <div class="help mt-3">
                    <a href="/reset-password" class="text-indigo-500">بازیابی رمز عبور</a>
                </div>
            {% endif %}

            {% else %}
            {% if request.user.is_authenticated %}
                <a  href="/me" class="block text-center active:scale-[0.98] bg-gray-900 px-8 py-3 rounded-full text-lg text-white w-full mt-8 active:opacity-90">پروفایل</a>
            {% else %}
                <a  href="/login" class="block text-center active:scale-[0.98] bg-gray-900 px-8 py-3 rounded-full text-lg text-white w-full mt-8 active:opacity-90">صفحه ورود</a>
            {% endif %}

        {% endif %}
    </form>
{% endblock form %}