{% extends './base.html' %}
{% load posts_extra %}
{% block main %}
{% autoescape off %}
  <main class="w-full max-w-6xl">
      <article class="p-4 sm:p-6">
          <h1>{{post.title|title}}</h1>
          <span class="block overflow-hidden h-min relative after:absolute after:left-0 after:h-full after:w-32 after:bg-gradient-to-r after:from-white whitespace-nowrap">
              {% for tag in post.tags.all %}
                  <a
                  name="{{tag.name}}"
                  href="/tags/{{tag.name}}"
                  class="hover:underline focus-visible:underline mr-2 text-{{tag.pk|gencol}} cursor-pointer first:mr-0"
                  >
                  <i class="bi bi-hash"></i>
                  <span class="text-gray-700">
                      {{tag.name}}
                  </span>
                  </a>
              {% endfor %}
              </span>
          <img src="{{post.image.url}}" alt="عکس پست"  class="w-full aspect-video max-h-[none]"/>
          {{post.text|markdown}}

          <div class="share flex w-full items-center justify-center mb-4 mt-6">
              {# TODO #}
              <button title="کپی کردن لینک" class="rounded-full p-4 h-10 sm:h-14 aspect-square border-[1px] sm:border-2 flex items-center justify-center text-slate-700 mx-1"><i class="bi bi-link-45deg"></i></button>
              <button title="اشتراک گذاری در توییتر" class="rounded-full p-4 h-10 sm:h-14 aspect-square border-[1px] sm:border-2 flex items-center justify-center text-slate-700 mx-1"><i class="bi bi-twitter"></i></button>
              <button title="اشتراک گذاری در تلگرام" class="rounded-full p-4 h-10 sm:h-14 aspect-square border-[1px] sm:border-2 flex items-center justify-center text-slate-700 mx-1"><i class="bi bi-telegram"></i></button>
              <button title="اشتراک گذاری در ردیت" class="rounded-full p-4 h-10 sm:h-14 aspect-square border-[1px] sm:border-2 flex items-center justify-center text-slate-700 mx-1"><i class="bi bi-reddit"></i></button>
          </div>
          
          <div class="w-full flex justify-between mt-4 px-6">
              <span class="text-slate-600"><span class="text-slate-800">{{post.views}}</span> بازدید</span>
              <button onclick="$('#comments').toggleClass('hidden xl:hidden');$('body').toggleClass('overflow-hidden xl:overflow-auto');" title="نمایش نظرات" class="text-slate-600"><span class="text-slate-800">{{post.comments.count}}</span> نظر</button>
          </div>
      </article>
      
      <hr class="my-8 mx-10">
      <h2 class="text-3xl mr-4 mb-4">پست های مرتبط</h2>
      <div class="px-4 sm:px-6">
          {% for thispost in related %}
              {% if thispost.pk != post.pk %}
                  {% include './post.html' with post=thispost %}
              {% endif %}
          {% endfor %}
      </div>

  </main>
  <aside id="comments" class="xl:hidden h-5/6 hidden bg-white w-full fixed bottom-0 left-0 rounded-tr-2xl rounded-tl-2xl border-[1px] sm:border-2 xl:border-0 xl:w-auto xl:min-w-[30vw] xl:h-[calc(100vh-3.5rem)] xl:sticky xl:top-14 xl:flex xl:justify-between xl:flex-col py-2 pb-6 shadow-4xl">
    <button onclick="$('#comments').toggleClass('hidden xl:hidden');$('body').toggleClass('overflow-hidden xl:overflow-auto');"class="p-2 w-full flex items-center justify-center xl:w-auto xl:h-full xl:right-0 xl:absolute xl:hidden">
      <div class="rounded-full bg-gray-200 w-20 h-1 xl:h-20 xl:w-1"></div>
    </button>
    <h1 class="mt-2 text-3xl mb-1 mx-4 xl:mx-0">نظرات کاربران</h1>
    <div class="overflow-auto h-full px-2 pb-2 relative flex flex-col justify-center items-center" >
    <div id="tagsContainer" class="overflow-auto h-full w-full">
        {% for comment in post.comments %}
            {% if not comment.rep_to %}
              <div id="{{comment.pk}}"class="last:mb-20 first:mt-2 px-2 py-2">
                <div class="border-2 border-gray-100 rounded-lg  px-2 py-1 my-1">
                <div class="flex items-center justify-between">
                    <div class="flex items-center w-full overflow-hidden">
                      <img src="{{comment.user.image.url}}" alt="عکسِ {{comment.user.name}}  "class="h-12 w-12 rounded-full p-1 overflow-hidden" />
                      <div class="flex flex-col p-1 w-5/6">
                          <span class="text-md w-[80%] truncate">{{comment.user.name}}</span>
                          <span class="text-gray-500 text-sm">
                            {{comment.date|tsince|cut:'ها'}} پیش
                            <button onclick="$('#repcontainer').removeClass('hidden');$('#repname').text('@{{comment.user.username|safe}}');$('#repto').attr('value','{{comment.pk}}');$('#repcontainer').attr('href','#{{comment.pk}}')" class="border-2 border-indigo-500 px-2 rounded-full text-indigo-500">پاسخ</button>
                            {% if request.user.is_superuser %}
                            <form method="POST" action="/admin/posts/comment/{{comment.pk}}/delete/" class="inline">
                              {% csrf_token %}
                              <button type="submit" class="border-2 border-red-500 px-2 rounded-full text-red-500">حذف</button>
                            </form>
                          </span>
                            {% endif %}
                      </div>
                    </div>
                </div>
                <p dir="auto" class="text-sm mt-1  text-gray-800 whitespace-pre-line">
                    {{comment.text|urlize}}
                </p>
                </div>
                <div id="res" class="mr-6 my-2">
                {% for res in comment.responses.all %}
                    <div class="res flex items-center w-full justify-start relative">
                    <div id="related" class="absolute w-2 border-l-[1px] sm:border-l-2 h-full right-6 top-0 translate-y-1"></div>
                    <img src="{{res.user.image.url}}" alt="عکسِ {{res.user.name}} " class="h-12 w-12 rounded-full p-1 mb-auto mr-2 z-[2] overflow-hidden mt-2"/>
                    <div class="flex flex-col w-[calc(100%-52px)] border-2 border-gray-100 rounded-lg  p-2 my-1">
                        <span class="text-md w-[80%] truncate"> {{res.user.name}} </span>
                        <span>
                          <span class="text-gray-500 text-sm"> {{res.date|tsince|cut:'ها'}} پیش </span>
                          <span class="text-gray-400 mx-1">•</span>
                          <span class="text-gray-500 text-sm"> در پاسخ به<span dir="ltr" class="truncate text-indigo-500 ml-1">@{{comment.user.username}} </span>
                            <form method="POST" action="/admin/posts/comment/{{res.pk}}/delete/" class="inline">
                              {% csrf_token %}
                              <button type="submit" class="text-sm border-2 border-red-500 px-2 rounded-full text-red-500">حذف</button> 
                            </form>
                          </span>
                        <p dir="auto" class="text-sm mt-1 text-gray-800 whitespace-pre-line">{{res.text|urlize}}</p>
                    </div>
                    </div>
                    {% endfor %}
                </div>
              </div>
            {% endif %}
        {% endfor %}
    </div>
    {% if request.user.is_authenticated %}
      <form action="/add-comment" method="POST" id="subCommentForm"  class="mb-4 fixed xl:absolute bottom-0 w-11/12 z-10">
        {% csrf_token %}
          <a id="repcontainer" href="" class="hidden bg-white  mb-1 rounded-xl border-[1px] sm:border-2  w-full py-2 px-3 text-gray-500 text-sm flex justify-between">
              <input type="hidden" name="rep_to" id="repto">
            <span>
              پاسخ به
              <span id="repname" dir="ltr" class="text-indigo-500 ml-2">----</span>
            </span>
            <button onclick="$('#repcontainer').addClass('hidden');$('#repto').attr('value','');">
              <i class="bi bi-x-circle-fill text-gray-700"></i>
            </button>
          </a>

        <div class="bg-[#ffffffcc] backdrop-blur w-full p-2 flex border-[1px] sm:border-2 rounded-xl">
          <img src="/media/users/b008d6c6-84fb-4012-8eeb-8ca4b78c9c5e.png" alt="عکس پروفایل من" class="rounded-full h-9 w-9 p-1">
          <input maxlength="200" id="commentInput" type="text" placeholder="نظرتان را بنویسید" class="p-1 w-full ml-1 bg-transparent" required="">
          <button type="submit" class="px-2 text-indigo-500 hover:text-indigo-700 focus-visible:text-indigo-700 border-r-2 my-2">ثبت</button>
        </div>
      </form>
    {% endif %}
  </div>
  </aside>
  <script>
    $('#subCommentForm').submit((e)=>{
      e.preventDefault();
      $.ajax({
        method: "POST",
        url: "/add-comment",
        data: {
          csrfmiddlewaretoken: $('#subCommentForm input[name=csrfmiddlewaretoken]').val(),
          text: $('#commentInput').val(),
          post: "{{post.pk}}",
          rep_to: $('#repto').val() || null,
        },
        success: (r) => {
            $("#commentInput").val("");
            $('#repcontainer').addClass('hidden');
            $('#repto').attr('value','');
            if (r.repTo){
              console.log('is_replay')
              $(`#commentsContainer #${r.repTo} #res`).append(`
              <div class="res flex items-center w-full justify-start relative">
                <div id="related" class="absolute w-2 border-l-[1px] sm:border-l-2 h-full right-6 top-0 translate-y-1"></div>
                    <img
                        src="${r.user.image}"
                        alt="عکسِ ${r.user.name} "
                        class="h-12 w-12 rounded-full p-1 mb-auto mr-2 z-[2] overflow-hidden mt-2"
                    />
                    <div class="flex flex-col w-[calc(100%-52px)] border-2 border-gray-100 rounded-lg  p-2 my-1">
                        <span class="text-md w-[80%] truncate">${r.user.name}</span>
                        <span>
                          <span class="text-gray-500 text-sm">${r.date}</span>
                          <span class="text-gray-400 mx-1">•</span>
                          <span class="text-gray-500 text-sm">
                              در پاسخ به
                              <span dir="ltr" class="truncate text-indigo-500 ml-1">
                              @${r.user.username}
                              </span>
                          </span>
                        </span>
                        <p dir="auto" class="text-sm mt-1 text-gray-800 whitespace-pre-line">${r.text}</p>
                    </div>
                  </div>
                </div>
              `)
            }else{
              $('#commentsContainer').prepend(`
              <div id="${r.pk}" class="last:mb-20 first:mt-2 px-2 py-2">
                  <div class="border-2 border-gray-100 rounded-lg  px-2 py-1 my-1">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center w-full overflow-hidden">
                          <img 
                            src="${r.user.image}" 
                            alt="عکسِ ${r.user.name} " 
                            class="h-12 w-12 rounded-full p-1 overflow-hidden"
                          />
                          <div class="flex flex-col p-1 w-5/6">
                              <span class="text-md w-[80%] truncate">${r.user.name}</span>
                              <span class="text-gray-500 text-sm">
                                ${r.date}
                                <button onclick="$('#repcontainer').removeClass('hidden');$('#repname').text('@${r.user.username}');$('#repto').attr('value','${r.pk}')" class="border-2 border-indigo-500 px-2 rounded-full text-indigo-500">پاسخ</button>
                              </span>
                          </div>
                        </div>
                    </div>
                      <p dir="auto" class="text-sm mt-1  text-gray-800 whitespace-pre-line">${r.text}</p>
                    </div>
                    <div id="res" class="mr-6 my-2"></div>
                </div>
              `)
            }
        },
        error: () => {
          document.location.reload()
        },
      });
    })
  </script>
{% endautoescape %}
{% endblock main %}