{% load posts_extra %}
<div class="post group m-2 p-3 flex justify-between relative flex-col  dark:border-gray-900  border-[1px] sm:border-2 rounded-xl dark:border-opacity-60 dark:hover:bg-opacity-40 dark:hover:bg-gray-900 hover:bg-gray-100">
        <a class="group block" href="/{{post.slug}}" >
        	<div class="thumb aspect-video overflow-hidden rounded-tl-lg rounded-tr-lg  bg-[url({{post.image.url|safe}})] bg-center bg-cover"></div>
            <h2 dir="rtl" class="dark:text-white group-focus-visible:underline text-2xl font-bold group-hover:underline cursor-pointer mb-1 mt-3 ">
                {{post.title|title}}
            </h2>
            <p class="my-1 text-gray-800 dark:text-gray-300" dir="rtl">
                {{post.description}}
            </p>
        </a>

        <span class="block overflow-hidden h-min relative after:absolute after:left-0 after:h-full after:w-32 after:bg-gradient-to-r after:from-white dark:after:from-black dark:after:mix-blend-darken dark:group-hover:after:from-gray-900 group-hover:after:from-gray-100 dark:after:bg-opacity-40 whitespace-nowrap">
            <span title="{{post.date|date:'j M Y'}}" class="dark:bg-opacity-40 bg-gray-100 group-hover:bg-gray-200 dark:group-hover:bg-gray-900 dark:bg-gray-900 dark:text-gray-400 text-sm px-2 rounded-full text-gray-500 sm:m-0">
                {{post.date|tsince|cut:'ها'}} پیش
            </span>
        {% for tag in post.tags.all %}
            <a
            name="{{tag.name}}"
            href="/tags/{{tag.name}}"
            class="hover:underline focus-visible:underline mr-2 text-{{tag.pk|gencol}} cursor-pointer first:mr-0"
            >
            <i class="bi bi-hash"></i>
            <span class="text-gray-700 dark:text-gray-300">
                {{tag.name}}
            </span>
            </a>
        {% endfor %}
        </span>
</div>
