{% load posts_extra %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
    {% include './head.html' %}
<body class="">
    <main class="overflow-auto w-full h-screen flex justify-between items-center flex-col">
        <span></span>
        {% if request.user.is_authenticated or success %}
        <div class="border-[1px] flex flex-col items-center px-4 py-6 rounded-xl sm:border-2 my-6">
            <h1 id="title" class="text-3xl">ارسال شد!</h1>
            <p id="about" class="mt-2 text-gray-500">یک ایمیل حاوی لینک بازیابی گذرواژه برای شما ارسال شد.</p>
            <p id="about" class="mt-2 text-gray-500">توجه داشته باشیید که این کد بازیابی تا پنج دقیقه آینده معتبر است.</p>
            <button class="active:scale-[0.98] bg-gray-900 rounded-full text-lg text-white w-full mt-8 active:opacity-90">
                <a href="/" class="block px-8 py-3 w-full">
                بازگشت
                </a>
            </button>
        </div>
        {% else %}
        <form action="" method="POST" class="border-[1px] flex flex-col items-center px-4 py-6 rounded-xl sm:border-2 my-6">
            <h1 class="text-3xl">بازیابی گذرواژه</h1>
            <p class="mt-2 text-gray-500">ایمیلی حاوی لینک بازیابی برای شما ارسال خواهد شد.</p>

            <div class="w-[20rem] mt-4">
                <input dir="auto" value="{{request.POST.email}}" name="email" autocomplete="email" type="email" class="bg-gray-100 px-3 py-2 rounded-xl w-full" placeholder="نشانی ایمیل" required>
                <span  class="px-3 text-red-500 text-sm min-h-">{{msg}}</span>
            </div>
            
            {% csrf_token %}
            <button type="submit" class="active:scale-[0.98] bg-gray-900 px-8 py-3 rounded-full text-lg text-white w-full mt-8 active:opacity-90">ثبت</button>

        </form>
        {% endif %}
        <span dir="ltr" id="copytihgt" class="mb-4 text-gray-700 text-sm">© site.com {% now "Y" %}. All right reserved.</span>
    </main>
</body>
</html>