{% extends './base_auth.html' %}
{% block form %}
    {% if request.user.is_authenticated or success %}
        <div class=" flex flex-col items-center px-4 py-6 rounded-xl border-[1px] sm:border-2 my-6 dark:border-gray-900 dark:border-opacity-60">
            <h1 class="text-3xl dark:text-white">ارسال شد!</h1>
            <p class="mt-2 text-gray-500">یک ایمیل حاوی لینک بازیابی گذرواژه برای شما ارسال شد.</p>
            <p class="mt-2 text-gray-500">توجه داشته باشیید که این کد بازیابی تا پنج دقیقه آینده معتبر است.</p>
            <button class="bg-opacity-20 active:scale-[0.98] bg-indigo-900 px-8 py-3 rounded-full text-lg text-indigo-600 w-full mt-8 active:opacity-90">
                <a href="/" class="block px-8 py-3 w-full">
                بازگشت
                </a>
            </button>
        </div>
    {% else %}
        <form method="POST" class=" flex flex-col items-center px-4 py-6 rounded-xl border-[1px] sm:border-2 my-6 dark:border-gray-900 dark:border-opacity-60">
            <h1 class="text-3xl dark:text-white">بازیابی گذرواژه</h1>
            <p class="mt-2 text-gray-500">ایمیلی حاوی لینک بازیابی برای شما ارسال خواهد شد.</p>

            {% include './input.html' with  value=request.POST.email name='email' autocomplete='email' type='email'  placeholder='نشانی ایمیل' required='true' message=msg %}

            {% csrf_token %}
            <button type="submit" class="bg-opacity-20 active:scale-[0.98] bg-indigo-900 px-8 py-3 rounded-full text-lg text-indigo-600 w-full mt-8 active:opacity-90">ثبت</button>

        </form>
    {% endif %}
{% endblock form %}