<!DOCTYPE html>
<html lang="fa" dir="rtl">
    {% include './head.html' %}
<body class="">
    <main class="overflow-auto w-full h-screen flex justify-between items-center flex-col">
        <span></span>
        {% if request.user.is_authenticated %}
        <div class="border-[1px] flex flex-col items-center px-4 py-6 rounded-xl sm:border-2 my-6">
            <h1 id="title" class="text-3xl">{{request.user.username}} خوش آمدید!</h1>
            <p id="about" class="mt-2 text-gray-500">حساب کاربری شما فعال شد.</p>

            <a href="/" class="text-center active:scale-[0.98] bg-gray-900 px-8 py-3 rounded-full text-lg text-white w-full mt-8 active:opacity-90">صفحه اصلی</a>
        </div>
        {% else %}
        <div class="border-[1px] flex flex-col items-center px-4 py-6 rounded-xl sm:border-2 my-6">
            <h1 id="title" class="text-3xl">مشکلی رخ داده است!</h1>
            <p id="about" class="mt-2 text-gray-500">توکن شما نادرسته.</p>

            <a href="/join" class="text-center active:scale-[0.98] bg-gray-900 px-8 py-3 rounded-full text-lg text-white w-full mt-8 active:opacity-90">سعی دوباره</a>
        </div>
        {% endif %}
        <span dir="ltr" id="copytihgt" class="mb-4 text-gray-700 text-sm">© site.com {% now "Y" %}. All right reserved.</span>

    </main>
</body>
</html>